<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Music Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.email) { %>
                    <p>
                        <strong>id</strong>: <%= user.id %><br>
                        <strong>email</strong>: <%= user.email %><br>
                        <strong>password</strong>: <%= user.password %>
                    </p>

                    <!-- <a href="/unlink/local" class="btn btn-default">Unlink</a>  -->
                <% } 
                else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>
        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><i class="fab fa-google"></i> Google</h3>

                <!-- check if the user has this token (is the user authenticated with this social account) -->
                <% if (user.googleToken) { %>
                    <p>
                        <strong>id</strong>: <%= playlists %><br>
                        <strong>token</strong>: <%= user.googleToken %><br>
                        <strong>email</strong>: <%= user.googleEmail %><br>
                        <strong>name</strong>: <%= user.googleName %>
                    </p>

                    <a href="/unlink/google" class="btn btn-danger">Unlink</a>
                <% } 
                else { %>
                    <a href="/connect/google" class="btn btn-danger">Connect Google</a>
                <% } %>

            </div>
        </div>
        <!-- SPOTIFY INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><i class="fab fa-spotify"></i> Spotify</h3>
                <a href="/spotify/sync" class="btn btn-success">Sync Spotify</a>
                <% if (playlists) { %>
                    <p>
                        <table>
                            <% for(let i=0; i < playlists.length; i++) { %>
                                <tr>
                                    <td><%= playlists[i].name %></td>
                                </tr>
                            <% } %>
                        </table>
                    </p>
                <% } 
                else { %>
                    
                <% } %>
            </div>
        </div>
    </div>
</div>
</body>
</html>
