<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Music Site</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <style>
        body        { padding-top:0px; word-wrap:break-word; }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Music Site</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/youtube">Youtube <span class="sr-only">(current)</span></a>
                </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" id="searchEmail" name="email" placeholder="Enter an email">
                        <button type="button" id="searchButton" class="btn btn-outline-success my-2 my-sm-0">Search</button>
                        </form>
            </div>
        </nav>    
<div class="container">

    <div class="pb-2 mt-4 mb-2 border-bottom text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-danger btn-sm" role="button">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <h3><span class="fa fa-user"></span> Local</h3>

                    <% if (user.email) { %>
                        <p>
                            <strong>id</strong>: <%= user.id %><br>
                            <strong>email</strong>: <%= user.email %><br>
                            <strong>password</strong>: <%= user.password %>
                        </p>

                        <!-- <a href="/unlink/local" class="btn btn-default">Unlink</a>  -->
                    <% } 
                    else { %>
                        <a href="/connect/local" class="btn btn-secondary">Connect Local</a>
                    <% } %>
                </div>
            </div>
        </div>
        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-6">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <h3><i class="fab fa-google"></i> Google</h3>

                    <!-- check if the user has this token (is the user authenticated with this social account) -->
                    <% if (user.google_token) { %>
                        <p>
                            <strong>id</strong>: <%= user.google_id %><br>
                            <strong>token</strong>: <%= user.google_token %><br>
                            <strong>email</strong>: <%= user.google_email %><br>
                            <strong>name</strong>: <%= user.google_name %>
                        </p>

                        <a href="/unlink/google" class="btn btn-danger">Unlink</a>
                    <% } 
                    else { %>
                        <a href="/connect/google" class="btn btn-primary">Connect Google</a>
                    <% } %>
                </div>
            </div>
        </div>
        <!-- SPOTIFY INFORMATION -->
        <div class="col-sm-6">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <h3><i class="fab fa-spotify"></i> Spotify</h3>
                    <a href="/spotify/sync" class="btn btn-success">Sync Spotify</a>
                    <% if (playlists.length > 0) { %>
                        <p>
                            <table>
                                <% for(let i=0; i < playlists.length; i++) { %>
                                    <tr>
                                        <td>
                                            <button type="button" id="syncPlaylist<%=i%>" class="btn btn-secondary btn-sm">Sync <%= playlists[i].name %></button>
                                        </td>
                                        <td style="visibility:hidden"><%= playlists[i].name %></td>
                                    </tr>
                                <% } %>
                            </table>
                        </p>
                        
                    <% } 
                    else { %>
                        
                    <% } %>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <h3><i class="fa fa-music"></i> Playlists</h3>
                    
                    <div id="accordion" style="display: none;">

                    </div>
                </div>
            </div>
        </div>    
    </div>
    
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
<script>
  $('[id^="syncPlaylist"]').click(function () {
    var name = $(this).closest("tr").find("td:eq(1)").text();
    console.log(name);
    $.ajax({
        url: 'api/test',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({
            spotifyPlaylistName: name}),
    })
    });
    $('[id^="searchButton"').click(function() {
        let text = document.getElementById("searchEmail").value;
        let user = text || "<%=user.email%>";
        req = new XMLHttpRequest();
        req.open("GET", 'api/user/playlists?email=' + user, true);
        req.send();
        req.onload=function(){
            json=JSON.parse(req.responseText);
            if(Object.keys(json).length > 0) {
                $("#accordion").css("display", "block")
                $("#accordion").empty();
                json.map((data, index) => {
                    var container = $('<div class="card"></>')
                    container.append('<div class="card-header" id="heading'+index+'">'+'<h5 class="mb-0">'+'<button class="btn btn-outline-dark" data-toggle="collapse" data-target="#collapse'+index+'" aria-expanded="true" aria-controls="collapseOne">'+data[0].playlist_name+' ('+data.length+' songs)')
                    container.append('<div id="collapse'+index+'" class="collapse collapsed" aria-labelledby="headingOne" data-parent="#accordion">'+'<div class="card-body">'+'<ul id="playlist'+index+'Songs">');
                    $("#accordion").append(container);

                    let songs = {};
                    data.forEach((obj, i) => {  //adds songs with formatting "Song - Artist" to songs object
                        songs["Song"+i] = obj.song_name+' - '+obj.artist_name;
                    })

                    var songList = $('#playlist'+index+'Songs')
                    $.each(songs, function(i)   //creates list of songs
                    {
                        var li = $('<li/>')
                            .addClass('ui-menu-item')
                            .attr('role', 'menuitem')
                            .appendTo(songList);
                        var aaa = $('<a/>')
                            .addClass('ui-all')
                            .text(songs[i])
                            .appendTo(li);
                    });
                })
            }
            else {
                $("#accordion").css("display", "block")
                $("#accordion").empty();
                $("#accordion").append('<p>No songs found for that user</p');
            }
        }
    })
</script>
</html>